* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'DarumadropOne';
    src: url('darumadropone.ttf') format('truetype');
}

text {
    font-family: 'DarumadropOne', sans-serif;
    color: #999;
    font-size: 48px;
}

a {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: #777;
}

a:hover {
    color: #bbb;
}